<h1>Photo app!</h1>

<%= link_to 'Upload image', new_image_path %>

<div class="container">
    <div class="row">
        <% @images.each do |i| %>
        <div class="col-xs-6 col-md-3">
          <a href=<%= image_path i.id %> class="thumbnail">
              <img src=<%= i.file_url %> alt="" />
          </a>
        </div>
            <% end %>
    </div>
</div>
