<div class="container">
    <div class="row">
        <% @images.each do |i| %>
        <div class="col-xs-3">
          <a href=<%= image_path i.id %> class="thumbnail">
              <img class="centered" src=<%= i.file_url %> alt="" />
          </a>
        </div>
            <% end %>
    </div>
</div>
